@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Jura:wght@500&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #160E2A;
  overflow-x: hidden;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}

:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}

::-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}